[Desktop Entry]
Icon=text-html
Name=https://scontent.fbir7-1.fna.fbcdn.net/v/t1.15752-9/801232569_1097050846155200_7270695150476201644_n.jpg?_nc_cat=107&_nc_map=urlgen_bucketless&ccb=1-7&_nc_sid=fc17b8&_nc_ohc=fD-5YAuaBaUQ7kNvwENCmfH&_nc_oc=AdpUKJ9UJhPF0P5CsXRBfhmh3LLcXQdbee_u3ut6sLPqnkhEIkNcbH4-AF9BlRnYs54pBySnBBK1Ge_Vl3ujhrVc&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fbir7-1.fna&_nc_ss=7a22e&oh=03_Q7cD6QGGx1Ns005OIwxuWmINxsKqy9Gro1cOoC3YGGYoMXH1jw&oe=6ACF8FD7
Type=Link
URL[$e]=https://scontent.fbir7-1.fna.fbcdn.net/v/t1.15752-9/801232569_1097050846155200_7270695150476201644_n.jpg?_nc_cat=107&_nc_map=urlgen_bucketless&ccb=1-7&_nc_sid=fc17b8&_nc_ohc=fD-5YAuaBaUQ7kNvwENCmfH&_nc_oc=AdpUKJ9UJhPF0P5CsXRBfhmh3LLcXQdbee_u3ut6sLPqnkhEIkNcbH4-AF9BlRnYs54pBySnBBK1Ge_Vl3ujhrVc&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fbir7-1.fna&_nc_ss=7a22e&oh=03_Q7cD6QGGx1Ns005OIwxuWmINxsKqy9Gro1cOoC3YGGYoMXH1jw&oe=6ACF8FD7
